.footer {
  background-color: #eeebf2;
  padding-top: 100px;
  padding-bottom: 100px;
  @include media-breakpoint-between(zero, sm) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-between(sm, md) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-between(md, lg) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-between(lg, xl) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .footer-content {
    p {
      font-weight: 400;
      color: #717171;
      line-height: 30px;
      font-size: 18px;
      margin-top: 45px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 16px;
        margin-bottom: 10px;
      }
      @include media-breakpoint-between(sm, md) {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      @include media-breakpoint-between(md, lg) {
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 15px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 16px;
      }
    }
  }
  .footer-content-List {
    h4 {
      color: $footer-header-color;
      font-size: 26px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 52px;
      @include media-breakpoint-between(zero, sm) {
        margin-bottom: 15px;
        margin-top: 30px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-bottom: 15px;
        margin-top: 25px;
      }
      @include media-breakpoint-between(md, lg) {
        margin-bottom: 15px;
        margin-top: 25px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 24px;
        margin-bottom: 40px;
      }
    }
    a {
      display: block;
      color: $footer-link-color;
      font-size: 18px;
      margin-bottom: 15px;
      transition: all liiner 0.2s;
      &:hover {
        color: $main_color;
      }
    }
  }
  .footer-content-subscribe {
    h4 {
      color: $footer-header-color;
      font-size: 26px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 52px;
      @include media-breakpoint-between(zero, sm) {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-between(md, lg) {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 24px;
      }
    }
    p {
      font-weight: 400;
      color: $footer-link-color;
      line-height: 30px;
      font-size: 18px;
      margin-top: 40px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-between(md, lg) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 16px;
      }
      // @include media-breakpoint-down(xxl) {
      //   font-size: 16px;
      // }
    }
    .newsletter-form {
      background-color: $white-color;
      border-radius: 8px;
      @include media-breakpoint-between(md, lg) {
        width: 60%;
      }
      input {
        border: none;
        outline: none;
        padding: 15px 20px;
        background-color: transparent;
        @include media-breakpoint-between(md, lg) {
          width: 100%;
        }
        @include media-breakpoint-between(lg, xl) {
          width: 100%;
        }
        @include media-breakpoint-between(xl, xxl) {
          width: 100%;
        }
      }
      button {
        border: none;
        padding: 15px 18px;
        background-color: $main_color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        svg {
          width: 24px;
          height: 24px;
          fill: $white-color;
        }
      }
    }
    .social-links {
      .icons-shape {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
          filter: grayscale(1);
          transition: all linear 0.3s;
        }
        &:hover {
          svg {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

.copyright-part {
  padding: 20px 0;
  background-color: $main_color;
  .copyright_Lists {
    ul {
      li {
        a {
          color: $white-color;
          cursor: pointer;
          @include media-breakpoint-between(zero, sm) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
