.service {
  margin-top: 120px;
  @include media-breakpoint-between(zero, sm) {
    margin-top: 0;
  }
  @include media-breakpoint-between(sm, md) {
    margin-top: 0;
  }
  @include media-breakpoint-between(md, lg) {
    margin-top: 0;
  }
  @include media-breakpoint-between(lg, xl) {
    margin-top: 40px;
  }
  @include media-breakpoint-between(xl, xxl) {
    margin-top: 80px;
  }
  .service-heading {
    margin-top: 100px;
    @include media-breakpoint-between(zero, sm) {
      margin-top: 0;
    }
    @include media-breakpoint-between(sm, md) {
      margin-top: 0;
    }
    @include media-breakpoint-between(md, lg) {
      margin-top: 30px;
    }
    h4 {
      font-size: 40px;
      font-weight: 700;
      color: $black_color;
      line-height: 50px;
      span {
        color: $main_color;
      }
      @include media-breakpoint-between(zero, sm) {
        font-size: 28px;
        line-height: 40px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 36px;
      }
      @include media-breakpoint-between(xl, xxl) {
        font-size: 36px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 44px;
        line-height: 60px;
      }
    }
    p {
      font-size: 18px;
      color: $footer-link-color;
      line-height: 30px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 16px;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 15px;
        line-height: 25px;
      }
    }
    button {
      padding: 18px 32px;
      background-color: $main_color;
      color: $white-color;
      outline: none;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px;
      @include media-breakpoint-between(zero, sm) {
        margin-top: 15px;
        margin-bottom: 35px;
        padding: 14px 25px;
      }
      @include media-breakpoint-between(sm, md) {
        margin-bottom: 30px;
      }
      @include media-breakpoint-between(md, lg) {
        margin-bottom: 30px;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 14px 25px;
      }
    }
  }
  .service-right {
    .service-box {
      background-color: $white-color;
      padding: 5px 80px 10px 24px;
      border-radius: 8px;
      margin-bottom: 30px;
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
      transition: all linear 0.3s;
      cursor: pointer;
      &:hover {
        transform: translateX(70px);
      }
      @include media-breakpoint-between(zero, sm) {
        &:hover {
          transform: scale(1.04);
        }
        transform: none;
        padding: 15px;
      }
      @include media-breakpoint-between(sm, md) {
        &:hover {
          transform: scale(1.04);
        }
        transform: none;
        padding: 15px;
      }
      @include media-breakpoint-between(md, lg) {
        &:hover {
          transform: scale(1.04);
        }
        transform: none;
        padding: 15px;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 5px 0 10px 24px;
        &:hover {
          transform: translateX(40px);
        }
      }
      @include media-breakpoint-between(xl, xxl) {
        padding: 5px 0 10px 24px;
        &:hover {
          transform: translateX(40px);
        }
      }
      .service-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
      }
      .service-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .service-content {
          padding-left: 10px;
          @include media-breakpoint-between(zero, sm) {
            text-align: center;
            padding-left: 0;
          }
          @include media-breakpoint-between(sm, md) {
            text-align: center;
            padding-left: 0;
          }
          @include media-breakpoint-between(md, lg) {
            text-align: center;
            padding-left: 0;
          }
          h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: $black_color;
            @include media-breakpoint-between(zero, sm) {
              font-size: 20px;
            }
            @include media-breakpoint-between(sm, md) {
              font-size: 20px;
            }
            @include media-breakpoint-between(md, lg) {
              font-size: 20px;
            }
            @include media-breakpoint-between(lg, xl) {
              font-size: 20px;
            }
          }
          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: $footer-link-color;
            @include media-breakpoint-between(zero, sm) {
              font-size: 16px;
              line-height: 25px;
            }
            @include media-breakpoint-between(sm, md) {
              font-size: 16px;
              line-height: 25px;
            }
            @include media-breakpoint-between(lg, xl) {
              font-size: 16px;
              line-height: 25px;
            }
          }
        }
      }
    }
    .active-service-box {
      background-color: $white-color;
      padding: 5px 80px 10px 24px;
      border-radius: 8px;
      margin-bottom: 30px;
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
      transform: translateX(70px);
      transition: all linear 0.3s;
      cursor: pointer;
      @include media-breakpoint-between(zero, sm) {
        transform: scale(1.05);
        padding: 10px;
        text-align: center;
      }
      @include media-breakpoint-between(sm, md) {
        transform: scale(1.05);
        padding: 10px;
        text-align: center;
      }
      @include media-breakpoint-between(md, lg) {
        transform: scale(1.05);
        padding: 10px;
        text-align: center;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 5px 0 10px 24px;
      }
      @include media-breakpoint-between(xl, xxl) {
        padding: 5px 0 10px 24px;
        transform: translateX(40px);
      }
      .service-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
      }
      .service-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .service-content {
          padding-left: 10px;
          @include media-breakpoint-between(zero, sm) {
            text-align: center;
            padding-left: 0;
          }
          @include media-breakpoint-between(sm, md) {
            text-align: center;
            padding-left: 0;
          }
          h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: $black_color;
            @include media-breakpoint-between(zero, sm) {
              font-size: 20px;
            }
            @include media-breakpoint-between(sm, md) {
              font-size: 20px;
            }
            @include media-breakpoint-between(md, lg) {
              font-size: 20px;
            }
            @include media-breakpoint-between(lg, xl) {
              font-size: 20px;
            }
          }
          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: $footer-link-color;
            @include media-breakpoint-between(zero, sm) {
              font-size: 16px;
              line-height: 25px;
            }
            @include media-breakpoint-between(sm, md) {
              font-size: 16px;
              line-height: 25px;
            }
            @include media-breakpoint-between(lg, xl) {
              font-size: 16px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
