.hero {
  padding-top: 50px;
  padding-bottom: 70px;
  .hero-left-text {
    .hero-text {
      h1 {
        font-size: 72px;
        line-height: 90px;
        font-weight: 700;
        @include media-breakpoint-between(zero, sm) {
          font-size: 36px;
          line-height: 60px;
        }
        @include media-breakpoint-between(sm, md) {
          font-size: 56px;
        }
        @include media-breakpoint-between(md, lg) {
          font-size: 60px;
          padding-right: 84px;
        }
        @include media-breakpoint-between(lg, xl) {
          font-size: 51px;
          line-height: 85px;
        }
        @include media-breakpoint-between(xl, xxl) {
          font-size: 61px;
        }
        span {
          &:first-child {
            background-color: $main_color;
            padding: 0 16px;
            color: $white-color;
          }
          &:nth-child(2) {
            margin-left: 5px;
          }
          &:last-child {
            color: $main_color;
            margin-left: 10px;
          }
        }
      }
      p {
        font-size: 18px;
        line-height: 30px;
        color: $footer-link-color;
        margin-top: 30px;
        font-weight: 400 !important;
        @include media-breakpoint-between(zero, sm) {
          font-size: 16px;
          line-height: 25px;
        }
        @include media-breakpoint-between(sm, md) {
          padding-right: 55px;
        }
        @include media-breakpoint-between(md, lg) {
          padding-right: 154px;
        }
        @include media-breakpoint-between(lg, xl) {
          font-size: 17px;
        }
        @include media-breakpoint-between(xl, xxl) {
          padding-right: 5px;
        }
        @include media-breakpoint-up(xxl) {
          padding-right: 94px;
        }
      }
      .hero-buttons {
        margin-top: 40px;
        @include media-breakpoint-down(xl) {
          margin-top: 30px;
        }
        button {
          padding: 18px 32px;
          background-color: $main_color;
          border: none;
          outline: none;
          font-size: 20px;
          color: $white-color;
          border-radius: 8px;
          margin-right: 40px;
          font-weight: 700;
          @include media-breakpoint-between(zero, sm) {
            padding: 14px 25px;
          }
        }
        a {
          color: $black_color;
          font-size: 20px;
          font-weight: 700;
          transition: all linear 0.9s;
          &:hover {
            text-decoration: underline;
          }
          svg {
            margin-left: 10px;
            width: 22px;
            height: 22px;
          }
        }
      }
      .hero-social-icons {
        margin-top: 40px;
        @include media-breakpoint-down(xl) {
          margin-top: 30px;
        }
        span {
          font-size: 18px;
          color: $black_color;
        }
        .hero-icons {
          margin-left: 50px;
        }
      }
    }
  }
  .hero-right {
    .hero-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
