.about {
  padding-bottom: 100px;
  .about-heading {
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $black_color;
      line-height: 60px;
      span {
        color: $main_color;
      }
      @include media-breakpoint-between(zero, sm) {
        font-size: 33px;
        line-height: 44px;
      }
      @include media-breakpoint-between(lg, xl) {
        font-size: 44px;
      }
    }
  }
  .about-content {
    p {
      position: relative;
      font-size: 18px;
      color: $footer-link-color;
      line-height: 30px;
      padding-left: 150px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 115px;
        transform: translateY(-50%);
        width: 2px;
        height: 70px;
        background-color: $main_color;
      }
      @include media-breakpoint-between(zero, sm) {
        font-size: 16px;
        padding-left: 0;
        line-height: 25px;
        margin-top: 15px;
        &::after {
          content: none;
        }
      }
      @include media-breakpoint-between(sm, md) {
        padding-left: 0;
        margin-top: 15px;
        &::after {
          content: none;
        }
      }
      @include media-breakpoint-between(md, lg) {
        padding-left: 0;
        margin-top: 15px;
        &::after {
          content: none;
        }
      }
      @include media-breakpoint-between(lg, xl) {
        padding-left: 53px;
        font-size: 16px;
        &::after {
          left: 30px;
        }
      }
      @include media-breakpoint-between(xl, xxl) {
        padding-left: 60px;
        &::after {
          left: 30px;
          width: 2px;
        }
      }
    }
    button {
      border: none;
      outline: none;
      padding: 15px 30px;
      background-color: $main_color;
      color: $white-color;
      font-size: 20px;
      border-radius: 8px;
      margin-left: 150px;
      margin-top: 23px;
      @include media-breakpoint-between(zero, sm) {
        margin-left: 0;
        padding: 14px 25px;
        margin-bottom: 25px;
      }
      @include media-breakpoint-between(sm, md) {
        padding: 14px 25px;
        margin-bottom: 25px;
        margin-left: 0;
      }
      @include media-breakpoint-between(md, lg) {
        padding: 14px 25px;
        margin-left: 0;
        margin-bottom: 25px;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 14px 25px;
        margin-left: 55px;
      }
      @include media-breakpoint-between(xl, xxl) {
        margin-left: 63px;
        padding: 14px 25px;
      }
    }
  }

  .about-item {
    .about-box {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $white-second;
      padding: 22px 18px;
      min-height: 200px;
      transition: all linear 0.3s;
      cursor: pointer;
      h4 {
        font-weight: 700;
        font-size: 20px;
        color: $black_color;
        transition: all linear 0.3s;
        line-height: 28px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black_second;
        transition: all linear 0.3s;
      }
      &:hover {
        background-color: $main_color;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
        border: $main_color;
        h4 {
          color: $white-color;
        }
        p {
          color: $white-color;
        }
      }
    }
    .active-about-box {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $white-second;
      padding: 22px 18px;
      min-height: 200px;
      background-color: $main_color;
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
      border: $main_color;
      cursor: pointer;
      h4 {
        font-weight: 700;
        font-size: 20px;
        color: $white-color;
        line-height: 28px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white-color;
      }
    }
    .right-inner-about {
      margin-top: 50px;
      padding-right: 50px;
      @include media-breakpoint-between(zero, sm) {
        padding-right: 0;
      }
      @include media-breakpoint-down(xl) {
        padding-left: 0;
        margin-top: 70px;
      }
      .showdata {
        h4 {
          font-size: 32px;
          font-weight: 700;
          color: $black_color;
          padding-right: 120px;
          line-height: 40px;
          @include media-breakpoint-between(zero, sm) {
            padding-right: 0;
          }
          @include media-breakpoint-between(sm, md) {
            padding-right: 0;
          }
          @include media-breakpoint-between(lg, xl) {
            padding-right: 6px;
          }
          @include media-breakpoint-between(xl, xxl) {
            padding-right: 45px;
          }
          // @include media-breakpoint-down(xxl) {
          //   padding-right: 45px;
          // }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $footer-link-color;
          line-height: 30px;
          padding-right: 24px;
          @include media-breakpoint-down(md) {
            font-size: 16px;
            padding-right: 0;
          }
          @include media-breakpoint-down(xl) {
            font-size: 16px;
            padding-right: 0;
            line-height: 25px;
            margin-top: 15px;
          }
          @include media-breakpoint-between(xl, xxl) {
            padding-right: 0;
          }
        }
        button {
          padding: 15px 29px;
          outline: none;
          border: 1px solid $main_color;
          font-size: 20px;
          color: $main_color;
          margin-top: 30px;
          font-weight: 700;
          border-radius: 8px;
          background-color: $white-color;
          @include media-breakpoint-down(md) {
            margin-top: 10px;
            padding: 14px 25px;
          }
          @include media-breakpoint-down(xl) {
            padding: 14px 25px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
