.about {
  padding-bottom: 100px;
  .about-heading {
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $black_color;
      line-height: 60px;
      span {
        color: $main_color;
      }
    }
  }
  .about-content {
    p {
      position: relative;
      font-size: 18px;
      color: $footer-link-color;
      line-height: 30px;
      padding-left: 150px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 115px;
        transform: translateY(-50%);
        width: 2px;
        height: 70px;
        background-color: $main_color;
      }
    }
    button {
      border: none;
      outline: none;
      padding: 15px 30px;
      background-color: $main_color;
      color: $white-color;
      font-size: 20px;
      border-radius: 8px;
      margin-left: 150px;
      margin-top: 23px;
    }
  }
  .about-experience {
    margin-top: 78px;
    .experience-content-card {
      padding: 22px;
      background-color: $white-color;
      margin-top: 25px;
      color: $black_color;
      // border: 1px solid $footer-link-color;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      cursor: pointer;
      transition: all linear 0.3s;
      h3 {
        font-size: 20px;
        color: $black_color;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: $text-color;
      }
      &:hover {
        background-color: $main_color;
        h3 {
          color: $white-color;
        }
        p {
          color: $white-color;
        }
      }
    }
  }
  .about-achievement {
    .achievement-content {
      padding-left: 188px;
      padding-top: 90px;
      h4 {
        font-size: 32px;
        color: $black_color;
        line-height: 38px;
      }
      p {
        font-size: 18px;
        color: $footer-link-color;
        line-height: 30px;
        margin-top: 24px;
      }
      button {
        outline: none;
        padding: 15px 30px;
        border-radius: 8px;
        border: 1px solid $main_color;
        background-color: $white-color;
        margin-top: 15px;
        color: $main_color;
        font-size: 20px;
        transition: all linear 0.3s;
        &:hover {
          background-color: $main_color;
          color: $white-color;
        }
      }
    }
  }
}
