.about {
  padding-bottom: 100px;
  .about-heading {
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $black_color;
      line-height: 60px;
      span {
        color: $main_color;
      }
    }
  }
  .about-content {
    p {
      position: relative;
      font-size: 18px;
      color: $footer-link-color;
      line-height: 30px;
      padding-left: 150px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 115px;
        transform: translateY(-50%);
        width: 2px;
        height: 70px;
        background-color: $main_color;
      }
    }
    button {
      border: none;
      outline: none;
      padding: 15px 30px;
      background-color: $main_color;
      color: $white-color;
      font-size: 20px;
      border-radius: 8px;
      margin-left: 150px;
      margin-top: 23px;
    }
  }

  .about-item {
    .about-box {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $white-second;
      padding: 22px 18px;
      min-height: 200px;
      transition: all linear 0.3s;
      cursor: pointer;
      h4 {
        font-weight: 700;
        font-size: 20px;
        color: $black_color;
        transition: all linear 0.3s;
        line-height: 28px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black_second;
        transition: all linear 0.3s;
      }
      &:hover {
        background-color: $main_color;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
        border: $main_color;
        h4 {
          color: $white-color;
        }
        p {
          color: $white-color;
        }
      }
    }
    .right-inner-about {
      margin-top: 50px;
      padding-left: 50px;
      .showdata {
        h4 {
          font-size: 32px;
          font-weight: 700;
          color: $black_color;
          padding-right: 120px;
          line-height: 40px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $footer-link-color;
          line-height: 30px;
          padding-right: 24px;
        }
        button {
          padding: 15px 29px;
          outline: none;
          border: 1px solid $main_color;
          font-size: 20px;
          color: $main_color;
          margin-top: 30px;
          font-weight: 700;
          border-radius: 8px;
          background-color: $white-color;
        }
      }
    }
  }
}
