.blog {
  margin-top: 120px;
  margin-bottom: 50px;
  @include media-breakpoint-between(zero, sm) {
    margin-top: 80px;
  }
  @include media-breakpoint-between(sm, md) {
    margin-top: 60px;
  }
  .blog-heading {
    h4 {
      font-size: 48px;
      font-weight: 700;
      line-height: 70px;
      margin-bottom: 24px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 38px;
        margin-bottom: 0;
      }
      @include media-breakpoint-between(sm, md) {
        font-size: 44px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $footer-link-color;
      line-height: 30px;
      padding: 0 300px;
      @include media-breakpoint-between(zero, sm) {
        font-size: 16px;
        padding: 0;
      }
      @include media-breakpoint-between(sm, md) {
        padding: 0;
      }
      @include media-breakpoint-between(md, lg) {
        padding: 0;
      }
      @include media-breakpoint-between(lg, xl) {
        padding: 0 110px;
      }
      @include media-breakpoint-between(xl, xxl) {
        padding: 0 200px;
      }
    }
  }
  .blog-slider {
    margin-top: 40px;
    .slick-next {
      @include media-breakpoint-down(lg) {
        right: -10px;
      }
      @include media-breakpoint-down(xl) {
        right: -5px;
      }
      @include media-breakpoint-between(xl, xxl) {
        right: -14px;
      }
      // @include media-breakpoint-down(xxl) {
      //   right: -13px;
      // }
    }
    .slick-prev {
      @include media-breakpoint-down(lg) {
        left: -15px;
      }
      @include media-breakpoint-down(xl) {
        left: -11px;
      }
      @include media-breakpoint-between(xl, xxl) {
        left: -18px;
      }
      // @include media-breakpoint-down(xxl) {
      //   left: -18px;
      // }
    }
    .card-box {
      min-height: 396px;
      padding: 22px;
      border: 1px solid $white-second;
      border-radius: 8px;
      box-sizing: border-box;
      @include media-breakpoint-between(zero, sm) {
        min-height: 396px;
      }
      @include media-breakpoint-between(md, lg) {
        padding: 12px;
      }
      // @include media-breakpoint-down(lg) {
      //   min-height: 496px;
      // }
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      span {
        display: flex;
        align-items: center;
        margin-top: 10px;
        svg {
          margin-right: 5px;
        }
      }
      h4 {
        font-size: 20px;
        color: $black_color;
        font-weight: 700;
        line-height: 30px;
        margin-top: 16px;
        padding-right: 100px;
        padding-bottom: 26px;
        @include media-breakpoint-between(zero, sm) {
          padding-right: 0;
          font-size: 18px;
        }
        @include media-breakpoint-between(md, lg) {
          padding-right: 0;
          font-size: 18px;
        }
      }
      a {
        font-size: 16px;
        color: #414141;
        font-weight: 700;
        text-transform: capitalize;
        &:hover {
          border-bottom: 1px solid #414141;
        }
      }
    }
  }
}
